*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml

*.ipr

*.iws

hello-world/build/tmp/jar/MANIFEST.MF

todo/.gradle/

todo-async/.gradle/

resource-urls/.idea/

resource-urls/.gradle/

swagger-client-resource-url/.idea/


swagger-client-resource-url/.gradle/

reactor/.gradle/
reactor/.idea/
todo/.idea/
todo/.gradle/

hello-world/.gradle/
todo-map/.gradle/
todo-map/.idea/

todo-scala/.gradle/
todo-scala/.idea/
todo-scala/build/

