*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml

*.ipr

*.iws

hello-world/build/tmp/jar/MANIFEST.MF

todo/.gradle/2.2/taskArtifacts/taskArtifacts.bin

todo/.gradle/2.2/taskArtifacts/cache.properties

todo/.gradle/2.2/taskArtifacts/cache.properties.lock

todo/.gradle/2.2/taskArtifacts/fileHashes.bin

todo/.gradle/2.2/taskArtifacts/fileSnapshots.bin

todo/.gradle/2.2/taskArtifacts/outputFileStates.bin
